.moviescardlist__grid {
  display: grid;
  width: 1140px;
  gap: 32px 20px;
  margin: auto;
  padding-top: 70px;
  grid-template-columns: repeat(4, auto);
  /* grid-template-rows: auto; */
  background-color: white;
}
