.moviescard__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 14px;
  position: relative;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .moviescard__description {
    /* margin: 10px 10px; */
  }
}
