.moviescard {
  color: black;
  padding-bottom: 14px;
  max-width: 1280px;
  background-color: white;
  box-shadow: 0px 16px 24px 0px #0000000d;
}

@media screen and (max-width: 320px) {
  .moviescard {
    margin: 0;
    padding: 0;
    width: 300px;
  }
}
