.moviescard__img {
  width: 100%;
  height: 151px;
  margin: auto;
  /* align-self: center; */
  object-fit: fill;
}

.moviescard__img:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .moviescard__img {
    /* width: 339px; */
    height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .moviescard__img {
    /* width: 300px; */
    height: 168px;
  }
}
