.moviescard {
  color: black;
  /* padding-bottom: 14px; */
  width: 270px;
  /* height: 218px; */
  /* align-items: center; */
  /* align-self: center; */
  /* margin: auto; */
  /* margin-left: auto; */
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  box-shadow: 0px 16px 24px 0px #0000000d;
  border-radius: 14px;
}

@media screen and (max-width: 768px) {
  .moviescard {
    width: 339px;
    /* height: 257px; */
  }
}

@media screen and (max-width: 320px) {
  .moviescard {
    margin: 0;
    padding: 0;
    width: 300px;
    /* height: 235px; */
  }
}
