.moviescard__description-delete {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  /* background-color: #f9f9f9; */
  /* position: absolute; */
  /* top: 14px; */
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* right: 12px; */
  /* border: 2px solid white; */
  /* box-shadow: 0px 3px 6px 0px #00000017; */
  background-image: url(../../images/delete-movie-card.svg);
  background-position: center;
}

.moviescard__description-delete:hover {
  cursor: pointer;
  opacity: 70%;
}
