.movies__more-btn {
  width: 100%;
  height: 36px;
  margin: 50px auto 80px auto;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.movies__more-btn:hover {
  opacity: 80%;
  cursor: pointer;
}
