.profile__edit-btn {
  margin-top: 220px;
  color: black;
  border: none;
  background: none;
}

@media screen and (max-width: 768px) {
  .profile__edit-btn {
    margin-top: 210px;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit-btn {
    margin-top: 379px;
  }
}
