.profile__header {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 123px;
  margin-top: 74px;
}

@media screen and (max-width: 768px) {
  .profile__header {
    margin-top: 236px;
    margin-bottom: 96px;
  }
}

@media screen and (max-width: 320px) {
  .profile__header {
    margin-top: 70px;
    margin-bottom: 80px;
  }
}
