.profile__exit-btn {
  color: red;
  border: none;
  background: none;
  margin-top: 16px;
  margin-bottom: 70px;
}

.profile__exit-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__exit-btn {
    margin-bottom: 269px;
  }
}

@media screen and (max-width: 320px) {
  .profile__exit-btn {
    margin-bottom: 40px;
  }
}
