.profile__box {
  display: flex;
  justify-content: space-between;
  width: min(410px, 90%);
  border-bottom: 1px solid #e8e8e8;
  margin-top: 16px;
  padding-bottom: 16px;
}

.profile__box:first-of-type {
  border-bottom: none;
  margin-top: 0;
}

.profile__box:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

@media screen and (max-width: 320px) {
  .profile__box {
    width: 260px;
  }
}
