.portfolio__link {
  font-size: 30px;
  text-decoration: none;
  color: black;
  line-height: 50px;
}

.portfolio__link:hover {
  opacity: 70%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}
