.promo__container {
  background-image: url(../../images/promo_pic.svg);
  background-repeat: no-repeat;
  max-width: 730px;
  height: 320px;
  margin-top: 82px;
  margin-bottom: 120px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
