.searchform__short-movies-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 42px;
  padding-bottom: 70px;
  gap: 12px;
}

@media screen and (max-width: 320px) {
  .searchform__short-movies-section {
    padding-bottom: 50px;
  }
}
