.searchform {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  min-width: 292px;
  margin: auto;
}

.searchform__error {
  position: absolute;
  font-size: 12px;
  bottom: -15px;
  left: 50%;
  color: red;
  margin: 0;
  transform: translate(-50%);
}
