.aboutproject__header {
  font-size: 22px;
  font-weight: 400;
  width: 100%;
  margin-top: 110px;
  border-bottom: 1px solid black;
  padding-bottom: 23px;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .aboutproject__header {
  }
}

@media screen and (max-width: 320px) {
  .aboutproject__header {
    padding-bottom: 28px;
    margin-bottom: 60px;
  }
}
