.aboutproject__paragraph {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 110px 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .aboutproject__paragraph {
    margin-bottom: 56px;
  }
}
