.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .register__form {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 320px) {
  .register__form {
    margin-bottom: 150px;
  }
}
