.aboutme__bio {
  font-size: 18px;
  font-weight: 500;
  margin: 18px auto 26px 0;
}

@media screen and (max-width: 768px) {
  .aboutme__bio {
    max-width: 248px;
    margin-left: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .aboutme__bio {
    font-size: 11px;
    margin: 20px 0 20px 0;
  }
}
