.aboutme__description {
  font-size: 14px;
  margin: 0;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .aboutme__description {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .aboutme__description {
    font-size: 11px;
  }
}
