.navtab__link {
  background: #f5f5f5;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-underline-offset: 2.5px;
  /* text-decoration: none; */
  color: black;
}

@media screen and (max-width: 320px) {
  .navtab__link {
    font-size: 11px;
  }
}
